
/* possible fonts

	rockwell
	impact
	myriad pro

 */
h1 {
	font-family: Rockwell, Myriad Pro, impact;
	font-size: 36Px;
	
	
}

/* possible fonts: 
	verdana
	century gothic
	franklin gothic book
 */
h2{
	font-family: Times New Roman;
	font-size: 16Px;
}

h3{
	font-family: Times New Roman;
	font-size: 12Px;
}

fieldset{
	vertical-align: middle;
}


