
/* possible fonts

	rockwell
	impact
	myriad pro

 */
h1 {
	font-family: Rockwell, Myriad Pro, impact;
	font-size: 36Px;
	
	
}

/* possible fonts: 
	verdana
	century gothic
	franklin gothic book
 */
h2 {
	font-family: verdana, century gothic, franklin gothic book;
	font-size: 16Px;
}

h3 {
	font-family: verdana, century gothic, franklin gothic book;
	font-size: 12Px;
}

label { 
	vertical-align: middle;
}

fieldset{
	vertical-align: middle;
	width: 500Px;
}
